---
import Navbar from "../components/navbar.astro";
import "../styles/main.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>shorts | cursores css</title>
  </head>
  <body>
    <Navbar />
    <h1>General</h1>
    <div class="cursor--container auto">cursor: auto</div>
    <div class="cursor--container default">cursor: default</div>
    <div class="cursor--container none">cursor: none</div>
    <h1>Enlaces y estados</h1>
    <div class="cursor--container context-menu">cursor: context-menu</div>
    <div class="cursor--container help">cursor: help</div>
    <div class="cursor--container pointer">cursor: pointer</div>
    <div class="cursor--container wait">cursor: wait</div>
    <h1>Selección</h1>
    <div class="cursor--container cell">cursor: cell</div>
    <div class="cursor--container crosshair">cursor: crosshair</div>
    <div class="cursor--container text">cursor: text</div>
    <div class="cursor--container vertical-text">cursor: vertical-text</div>
    <h1>Agarrar y soltar</h1>
    <div class="cursor--container alias">cursor: alias</div>
    <div class="cursor--container copy">cursor: copy</div>
    <div class="cursor--container move">cursor: move</div>
    <div class="cursor--container no-drop">cursor: no-drop</div>
    <div class="cursor--container not-allowed">cursor: not-allowed</div>
    <div class="cursor--container grab">cursor: grab</div>
    <div class="cursor--container grabbing">cursor: grabbing</div>
    <h1>Redimensión y scrolling</h1>
    <div class="cursor--container all-scroll">cursor: all-scroll</div>
    <div class="cursor--container col-resize">cursor: col-resize</div>
    <div class="cursor--container row-resize">cursor: row-resize</div>
    <div class="cursor--container n-resize">cursor: n-resize</div>
    <div class="cursor--container e-resize">cursor: e-resize</div>
    <div class="cursor--container s-resize">cursor: s-resize</div>
    <div class="cursor--container w-resize">cursor: w-resize</div>
    <div class="cursor--container ne-resize">cursor: ne-resize</div>
    <div class="cursor--container nw-resize">cursor: nw-resize</div>
    <div class="cursor--container se-resize">cursor: se-resize</div>
    <div class="cursor--container sw-resize">cursor: sw-resize</div>
    <div class="cursor--container ew-resize">cursor: ew-resize</div>
    <div class="cursor--container ns-resize">cursor: ns-resize</div>
    <div class="cursor--container nesw-resize">cursor: nesw-resize</div>
    <div class="cursor--container nwse-resize">cursor: nwse-resize</div>
    <h1>Ampliación</h1>
    <div class="cursor--container zoom-in">cursor: zoom-in</div>
    <div class="cursor--container zoom-out">cursor: zoom-out</div>
  </body>
</html>
<style>
  .cursor--container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100px;
    font-size: 30px;
    padding-inline: 20px;
    border: 4px solid #efefef;
    margin-bottom: 20px;
    margin-inline: 20px;
    border-radius: 10px;
  }

  h1 {
    font-weight: normal;
    padding-inline: 20px;
    margin-bottom: 20px;
  }

  h1 {
    margin-top: 40px;
  }

  .default {
    cursor: default;
  }

  .none {
    cursor: none;
  }

  .context-menu {
    cursor: context-menu;
  }

  .help {
    cursor: help;
  }

  .pointer {
    cursor: pointer;
  }

  .wait {
    cursor: wait;
  }

  .cell {
    cursor: cell;
  }

  .crosshair {
    cursor: crosshair;
  }

  .text {
    cursor: text;
  }

  .vertical-text {
    cursor: vertical-text;
  }

  .alias {
    cursor: alias;
  }

  .copy {
    cursor: copy;
  }

  .move {
    cursor: move;
  }

  .no-drop {
    cursor: no-drop;
  }

  .not-allowed {
    cursor: not-allowed;
  }

  .grab {
    cursor: grab;
  }

  .grabbing {
    cursor: grabbing;
  }

  .all-scroll {
    cursor: all-scroll;
  }

  .col-resize {
    cursor: col-resize;
  }

  .row-resize {
    cursor: row-resize;
  }

  .n-resize {
    cursor: n-resize;
  }

  .e-resize {
    cursor: e-resize;
  }

  .s-resize {
    cursor: s-resize;
  }

  .w-resize {
    cursor: w-resize;
  }

  .ne-resize {
    cursor: ne-resize;
  }

  .nw-resize {
    cursor: nw-resize;
  }

  .se-resize {
    cursor: se-resize;
  }

  .sw-resize {
    cursor: sw-resize;
  }

  .ew-resize {
    cursor: ew-resize;
  }

  .ns-resize {
    cursor: ns-resize;
  }

  .nesw-resize {
    cursor: nesw-resize;
  }

  .nwse-resize {
    cursor: nwse-resize;
  }

  .zoom-in {
    cursor: zoom-in;
  }

  .zoom-out {
    cursor: zoom-out;
  }
</style>
