---
import "../styles/main.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Cursores css</title>
  </head>
  <body>
    <main>
      <h1>Shorts</h1>
      <p>
        Un repositorio para guardar el código que aparecen en los shorts del
        canal
      </p>
      <a href="/cursores-css">cursores css</a>
    </main>
  </body>
</html>
<style>
  main {
    max-width: 1200px;
    padding: 16px;
    margin: auto;
  }

  h1 {
    font-size: 46px;
  }

  p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  a {
    font-size: 32px;
  }
</style>
