---
import "../styles/main.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Cursores css</title>
  </head>
  <body>
    <a href="/cursores-css">Cursores css</a>
  </body>
</html>
<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  a {
    font-size: 40px;
  }
</style>
